@charset "UTF-8";
/* @media print { 
    body {
        color: black;
        background: white;
        margin: 0;
        font-size: 20px;
    }
}

@media (max-width: ) {

}
    body {
        font-size: 20px;
        margin: 10px;
        padding: 10px;
    }*/
p {
    font-family: 'Arial', sans-serif;
    font-size: 20px; /* ajuste o tamanho conforme necessário */
    line-height: 1.5; /* espaçamento entre linhas */
}

h1{
    font-family: Arial, sans-serif;
    
}
h2{


font-family: Arial, sans-serif;
            
}

h3{
    font-family: Arial, sans-serif;
           
}
body{
    background-color: #F28216;

}
header{
    background-color: orange;
    margin: 0;
    padding: 0;
    border: none;
    border-width: 0;
    outline: none;
}

nav a{
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    
   
    color: rgb(0, 0, 0);
    margin: 80px;

    font-family: Arial, sans-serif; font-size: 20px; font-weight: bold; 
    transition: color 0.3s ease;;
    
}
nav a:hover{
    color: #ffffff; 
    
}


